<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Posts</h1>
    <div class="container">
        <% for(let post of posts) { %>
             <div class="post">
                <p class="id">ID: <%= post.id %></p>
                <p class="username">@<%= post.username %></p>
                <p class="content"><%= post.content %></p>

                <div class="actions">
                    <a class="btn see" href="/posts/<%= post.id %>">See</a>
                    <a class="btn edit" href="/posts/<%= post.id %>/edit">Edit</a>
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                        <button class="btn delete">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
        <a class="btn add" href="/posts/new">Add New Post</a>
    </div>
</body>
</html>
